{% extends "Main_layout.html" %} 


{% block forms %}
<section class="jumbotron text-center">
    <div class="container">
        <div class="row">
        <label for="formGroupExampleInput"> <h2> NGA -> NBA  </h2> </label>
        <br>
        <br>
        <form method = "POST" action = "" class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                <input name = "states" type="text" placeholder="States" class="form-control"> </input>
                <input name = "initial" type="text" placeholder="Initial" class="form-control"> </input>
                <input name = "alphabet" type="text" placeholder="Alphabet" class="form-control"> </input>
                <input name = "accepting" type="text" placeholder="Accepting" class="form-control"> </input>
                <input name = "transitions" type="text" placeholder="Transitions" class="form-control"> </input>
                </div>
            </div>
    </div>
</section>

    <div class="row">
        <input name = "submit" type="submit" class="btn btn-primary btn-lg"> </input>
    </div>

</form>


  
{% endblock forms %}

<!--   REPONSE BOX BLOCK  -->

{% block response %}

{% if NBAs %}

<img src="static\A0.png" style="max-width: 100%; height: auto;">

{% endif %}

{% endblock response %}

<!--   OUTPUT BOX BLOCK  -->

{% block output %}

{% if invalid %}

<h3> {{invalid}}</h3>

{% endif %}

{% if NBAs %}
<h5> ...................................................................................... </h5>

<h5> Non-determinisitc Buchi Formal Descriptions </h5>    

<h5> ...................................................................................... </h5>

<br>



<br>

<h5>............ Set of states ............  </h5>

<h5> {{NBAs[0]}} </h5>

<h5> ............ Set of initial states ............</h5>

<h5> {{NBAs[1]}} </h5>

<h5>............ Computational alphabet ............ </h5>

<h5> {{NBAs[2]}} </h5>

<h5>............ State transitions ............ </h5>

{% for transitions in NBAs[3] %}

    {% for j in range(transitions[1] | length) %}
        <h5> 
            {{transitions[0]}} ----> {{transitions[1][j]}} ---> {{transitions[2][j]}}
            <br>
        </h5>
    {% endfor %}
    
{%endfor%}

<h5> ............ State satisfying acceptence condition ............ </h5>


<h5> {{NBAs[4]}} </h5>


<h5> ...................................................................................... </h5>
<br> 


{% endif %}

{% endblock output %}
